@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252a
}

h1{
    font-size: 34px;
    font-family: "Montserrat",  sans-serif;

}

/* Basic body styles */

li, a {
    font-family: "Montserrat",  sans-serif;
    font-weight: 500; 
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

body {
    font-family: "Montserrat",  sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
}

/* Header styles */
header {
    text-align: center;
    display: flex;
    align-items: center;
    height: 15vh;
    justify-content: space-between;
}

.nav_links{
    list-style: none;
    padding-right: 50px;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 1.3s ease 0s;
}

.nav_links li a:hover{
    color: #e0ae07;
}

header h1 {
    margin-bottom: 10px;
}

.logo{
    height: 12vh;
    width: auto;
}

/* Navigation styles */
nav ul {
    list-style: none;
    display: flex;
    justi
}

footer{
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
}

#home{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("uhd_30fps.mp4");
}

.about-container{
    display: flex;

}

.about-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    padding: 50px;
}

.tag{
    color: white;
    font-family: "Montserrat",  sans-serif;
    font-weight: 500; 
    font-size: 60px;
}

#about{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh
}

#services{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

#portfolio{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Slideshow container */
.slideshow-container {
    max-width: 80vw;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }